<% if teacher_profiles.any? %>

  <ul class="list-unstyled">
    <% teacher_profiles.each do |teacher_profile| %>

      <li class="media">
        <img class="mr-2 rounded" src="<%= gravatar_url(teacher_profile.teacher, { size: 50 }) %>" alt="">
        <div class="media-body">
          <div>
            <p><%= teacher_profile.nickname %> さん</p>
          </div>
          <div>
            <p>レッスン：<%= teacher_profile.instrument %>（対象レベル：<%= teacher_profile.level %>）</p>
          </div>
        </div>
      </li>
      <%= link_to '詳細を見る', teacher_profile %>
      
    <% end %>
  </ul>

  <%= paginate teacher_profiles %>

<% else %>

  <p><%= comment %></p>

<% end %>
