<h1><%= teacher_profile.nickname %> さん</h1>
<div>
  <p>レッスン：<%= teacher_profile.instrument %>（対象レベル：<%= teacher_profile.level %>） <%= teacher_profile.lesson_fee %>円/1時間</p>
</div>
<div>
  自己紹介：
  <%= teacher_profile.introduction %>
</div>
