<div>

  <h3 class="mb-4">ユーザー登録内容（生徒）</h3>
  
  <div class="mb-5">
    <ul>
      <li>お名前：<%= @student.name %></li>
      <li>Email：<%= @student.email %></li>
      <li>生年月日：<%= @student.birthday %></li>
      <li>住所：<%= @student.address %></li>
    </ul>
  </div>
  
  <div>
    <%= link_to 'プロフィールの編集', edit_student_profile_path(id: current_student.id), class: "btn btn-lg btn-primary" %>
  </div>

</div>