<div>

  <h3 class="mb-4">ユーザー登録内容（講師）</h3>
  
  <div class="mb-5">
    <ul>
      <li>お名前：<%= @teacher.name %></li>
      <li>Email：<%= @teacher.email %></li>
      <li>生年月日：<%= @teacher.birthday %></li>
      <li>住所：<%= @teacher.address %></li>
    </ul>
  </div>
  
  <div>
    <p>次に、プロフィールを登録してください。</p>
  </div>
  <div>
    <%= link_to 'プロフィールの登録', new_teacher_profile_path, class: "btn btn-lg btn-primary" %>
  </div>

</div>
